/* need srift */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 1.5rem 4rem;
  background-color: #f8f9fa;
}
header nav ul {
  justify-content: right;
  display: flex;
  list-style: none;
  gap: 2rem;
}
header nav ul li {
  font-size: 1.2rem;
  font-weight: 500;
  a {
    text-decoration: none;
    color: black;
  }
}

main h1 {
  text-align: center;
  margin: 1rem 0;
}

.cars-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  padding: 2rem 1.2rem;
  a {
    text-decoration: none;
    color: black;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 1.3rem;
  gap: 1.2rem;
  cursor: pointer;
  img {
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
}
