/* need srift */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 1.5rem 4rem;
  background-color: #f8f9fa;
}
header nav ul {
  justify-content: right;
  display: flex;
  list-style: none;
  gap: 2rem;
}
header nav ul li {
  font-size: 1.2rem;
  font-weight: 500;
  a {
    text-decoration: none;
    color: black;
  }
}
main h1 {
  text-align: center;
  margin: 1rem 0;
}

.cars-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 4rem;
}

.cars-form {
  width: 100%;
  display: grid;
  margin: 0 auto;
  width: 50%;
  gap: 1rem;
  input {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-shadow: 1px 6px 6px 1px rgba(66, 68, 90, 1);

    &:focus {
      outline: none;
      border: 1px solid #0b18cf;
    }
  }
}

#message {
  font-size: 1.5rem;
}
.btns-form {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

#btnSubmit {
  width: 400px;
  padding: 0.5rem 1rem;
  background-color: #464646e1;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;

  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

#inputDelId {
  width: 100px;
  margin: 0 auto;
  text-align: left;
  gap: 1rem;
  border: 3px solid #fc7373;

  &:focus {
    outline: none;
    border: 2px solid #0b18cf;
  }
}

#delCarId {
  width: 400px;
  padding: 0.5rem 1rem;
  background-color: #464646e1;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

#description {
  padding: 0.5rem;
  border-radius: 8px;
  height: 150px;
  box-shadow: 1px 6px 6px 1px rgba(66, 68, 90, 1);
  &:focus {
    outline: none;
    border: 2px solid #0c1cff;
  }
}
